* {
  box-sizing: border-box;
  margin: 0 2px;
  padding: 0;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.navbar-brand {
  font-weight: 600px;
  font-size: 20px;
  color: #28352f;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, rgba(226, 235, 238, 0.62), rgba(195, 206, 200, 0.52));
}

.header-section-title {
  color: #172b4d;
  margin: 10px 0;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  width: 327px;
}

.header-section-title span {
  color: #36b37b;
}

.header-section-text {
  margin: 10px 0;
  width: 327px;
  text-align: center;
  color: #172b4d;
  font-size: 20px;
  line-height: 28px;
}

.header-section-icon-container {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
