@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  transition: 1s;
}

img:hover {
  transform: scale(0.8);
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 0 24px;
}

header a {
  color: #6070ff;
  font-weight: 700px;
  font-size: 25px;
}

.navbar-hamburger {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  transition: 0.5s;
}

.logo:hover {
  transform: rotate(20deg);
}

.navigation-menu {
  display: none;
}

.navbar-hamburger .navigation-menu {
  display: none;
}

.menu-wrapper .menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: #6070ff;
  mix-blend-mode: multiply;
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.menu-wrapper.open-menu .menu-overlay {
  z-index: 1;
  opacity: 1;
}

.menu-wrapper.open-menu .menu-content {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 102;
  width: calc(100vw - 48px);
  height: calc(100vw - 48px);
  padding: 24px;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 45px;
  justify-content: center;
}

.menu-wrapper.open-menu .menu-toggle {
  align-items: flex-end;
}

.menu-wrapper.open-menu .navigation-menu {
  display: block;
}

.menu-wrapper.open-menu .navigation-menu ul li {
  padding: 20px;
}

.menu-wrapper.open-menu .navigation-menu ul li a {
  color: #fff !important;
  font-weight: 700 !important;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background: #6070ff;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.header-section-title span {
  color: #36b37b;
}

.menu-wrapper.open-menu .menu-toggle span {
  position: absolute;
  right: -2rem;
  background: white;
}

.menu-wrapper .menu-toggle span:hover {
  cursor: pointer;
}

.my-works .work-item .work-subtitle span {
  height: 100%;
  position: relative;
}

.my-works .work-item .work-subtitle span + span {
  margin: 0 16px;
}

.menu-wrapper.open-menu .menu-toggle span:first-child {
  transform: translateY(-50%) rotate(45deg);
  transform-origin: center;
  top: 50%;
}

.menu-wrapper.open-menu .menu-toggle span:last-child {
  transform: translateY(-50%) rotate(-45deg);
  transform-origin: center;
  top: 50%;
}

.menu-wrapper.open-menu .menu-toggle span:nth-child(2) {
  display: none;
}

.header-section {
  display: flex;
  padding: 100px 30px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/header-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
}

.header-section-title {
  color: #172b4d;
  margin: 10px 0;
  font-weight: 700;
  font-size: 30px;
  width: 300px;
}

.header-section-text {
  margin: 20px 0;
  color: #344563;
  font-size: 16px;
  line-height: 24px;
}

.connect {
  color: #6070ff;
  margin: 10px 0 0;
}

.header-section-icon-container ul {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
}

.technical-knowledge-list li {
  padding: 12px;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.header-section-icon-container ul li {
  margin-right: 20px;
}

.my-works {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 70px;
  padding: 100px 2px;
  background-color: #e5e5e5;
  width: 100%;
}

.my-works .work-item {
  width: 100%;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: flex-start;
  align-items: baseline;
}

.technical-knowledge-list li img {
  margin-right: 16px;
}

.my-works .work-item img {
  width: 100%;
}

.my-works .work-item .work-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  display: block;
  padding: 12px 0;
  color: #172b4d;
}

.my-works .work-item .work-subtitle {
  display: flex;
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.my-works .work-item .work-subtitle span:first-of-type {
  color: #344563;
  text-transform: uppercase;
  margin-right: 16px;
}

.my-works .work-item .work-subtitle span + span::before {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c1c7d0;
  display: block;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
}

.my-works .work-item .work-details {
  color: #344563;
  font-size: 15px;
  line-height: 24px;
  margin: 20px 0 12px;
}

.my-works .work-item .work-technologies {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
}

.my-works .work-item .work-technologies .technology-tag {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-right: 8px;
}

.my-works .work-item .view-work-btn,
.about-me .resume-btn,
footer .footer-container .submit-btn {
  border-radius: 8px;
  text-align: center;
  padding: 12px;
  margin: 24px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: #fff;
  transition: background-color 1s;
}

footer .contact-form ul li .submit-btn {
  margin-top: 0;
  border: none;
}

.my-works .work-item .view-work-btn:enabled,
.about-me .resume-btn:enabled,
footer .footer-container .submit-btn:enabled {
  color: #6070ff;
  border: solid 1px #6070ff;
  background-color: #fff;
}

.my-works .work-item .view-work-btn:hover,
.about-me .resume-btn:hover,
footer .footer-container .submit-btn:hover {
  color: #fff;
  border: solid 1px #6070ff;
  background-color: #6070ff;
  cursor: pointer;
}

.my-works .work-item .view-work-btn:active,
.about-me .resume-btn:active,
footer .footer-container .submit-btn:active {
  background-color: #2230d2;
  border: solid 1px #2230d2;
}

.about-me {
  padding: 120px 24px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.about-me .top,
.about-me .bottom {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 24px 0;
  width: 100%;
}

.about-me .top .title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-me .bottom .technical-knowledge {
  width: 100%;
}

.about-me .bottom .technical-knowledge .knowledge-area {
  padding: 24px 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dfe1e6;
}

.about-me .bottom .technical-knowledge .knowledge-area.active {
  border: none;
}

.about-me .bottom .technical-knowledge .knowledge-area .title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

/* Footer */

footer {
  background-color: #6070ff;
  border-top-left-radius: 70px;
  width: 100%;
  height: 709.17px;
  padding: 70px 24px 48px;
}

.footer-container {
  background-image: url(./img/contact\ form\ shapes-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: center;
  background-position: center;
}

.contact-form-text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contact-form-text-info .contact-form-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact-form-text-info .contact-form-text {
  text-align: center;
  color: #fff;
  width: 100%;
  height: 102px;
}

footer .contact-form li {
  display: flex;
}

footer .contact-form ul li input,
footer .contact-form ul li textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  width: 100%;
}

/* MEDIA QUERIES */

@media (min-width: 992px) {
  .navbar-hamburger .hamburger-icon {
    display: none;
  }

  .navbar-hamburger .header-brand {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }

  .menu-toggle {
    display: none;
  }

  .navbar-hamburger .navigation-menu {
    display: block;
    width: 20%;
  }

  .technical-knowledge li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }

  .navigation-menu ul li {
    margin-right: 20px;
  }

  .technical-knowledge ul {
    display: flex;
  }

  .navbar-hamburger .navigation-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-hamburger .navigation-menu ul li a {
    color: #344563;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .header-section {
    padding: 100px 24px 24px;
    background-image: url(./img/Header\ bg@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-section-container {
    margin: 0 auto;
    width: 80%;
    padding: 20px 50px;
  }

  .header-section-container .header-section-title {
    color: #091e42;
    width: 70%;
    font-weight: 700;
    font-size: 48px;
    line-height: 80px;
  }

  .header-section-container .header-section-text {
    width: 90%;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
  }

  .my-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .my-works .work-item {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .about-me .top {
    padding: 10px;
    height: 400px;
    display: flex;
    justify-content: space-between;
  }

  .my-works .work-item .top {
    width: 50%;
    padding-right: 10px;
  }

  .my-works .work-item .top img {
    width: 100%;
  }

  .my-works .work-item .bottom {
    width: 50%;
  }

  .my-works .reverse {
    flex-direction: row-reverse;
  }

  .about-me {
    margin: 20px auto;
    display: flex;
    width: 80%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
  }

  .about-me .top h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    width: 50%;
    padding-bottom: 10px;
  }

  footer {
    background-image: url(./img/contact\ form\ background\ shapes@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: contain;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-container .contact-form-text {
    width: 40%;
  }

  .footer-container input,
  .footer-container textarea {
    width: 500px !important;
  }

  .footer-container .contact-form .submit-btn {
    margin: 0 auto;
  }
}
