* {
  box-sizing: border-box;
  margin: 0 2px;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.header a {
  color: #6070ff;
}

.header-brand {
  font-weight: 700px;
  font-size: 25px;
  color: #28352f;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./img/header-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-section-title {
  color: #172b4d;
  margin: 10px 0;
  font-weight: 700;
  font-size: 30px;
  width: 300px;
}

.header-section-title span {
  color: #36b37b;
}

.header-section-text {
  margin: 20px 0;
  color: #344563;
  font-size: 17px;
  line-height: 24px;
}

.header-section .connect {
  color: #6070ff;
}

.header-section-icon-container ul {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
}
